body, h1, p {
	font-family: "Arial";
}
.center{
	width: 700px;
	margin:0 auto;
}
label{
	display: block;	
  	margin: 5px 0;
}
button{
	display: block;	
	margin-top: 6px;
	margin-left: 100px;
	width: 10%;
	min-width: 20px;
	max-width: 60px;
	cursor: pointer;
}
