<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="utf-8">
  <title>
    clothing
  </title>
</head>

<body>
<h1>write documents to firestore</h1>
  <form class="form-horizontal" id="simpleForm" method="post" action="/app/dbtop/writetest">
    <div class="form-group">
      <label for="document_id">Document ID</label>
      <input name="document_id" id="document_id" type="text">
    </div>
    <div class="form-group">
      <label for="a_string">a_string</label>
      <input name="a_string" id="a_string" type="text">
    </div>
    <div class="form-group">
      <label for="an_int">an_int</label>
      <input name="an_int" id="an_int" type="number">
    </div>
    <div class="form-group">
      <label for="another_int">another_int</label>
      <input name="another_int" id="another_int" type="number">
    </div>
    <button type="submit">Write</button>
  </form>

  <h1>delete documets from firestore</h1>
  <form class="form-horizontal" id="simpleForm" method="post" action="/app/dbtop/deletetest">
    <div class="form-group">
      <label for="document_id">Document ID</label>
      <input name="document_id" id="document_id" type="text">
    </div>
    <button type="submit">Delete</button>
  </form>

  <h1>read documets from firestore</h1>
  <form class="form-horizontal" id="simpleForm" method="post" action="/app/dbtop/readtest">
    <div class="form-group">
      <label for="document_id">Document ID</label>
      <input name="document_id" id="document_id" type="text">
    </div>
    <button type="submit">Read</button>
  </form>
</body>


</html>
