<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="utf-8">
  <title>clothing</title>
  <link rel="stylesheet" href="/app/css/clothing.css">
</head>

<body>
  <header>
    <h1>Clothing</h1>
    {% if failure_message %}
    <p>{{failure_message}}<p>
    {% endif %}
    <p>You have these clothing.</p>
  </header>

  <main>
    <div id="content">
    <div id="main">
  <!-- delete -->
    <h1>delete documets from firestore</h1>
    <form class="form-horizontal" id="simpleForm" method="post" action="/app/clothing/delete">
      <div class="form-group">
        <label for="document_id">Document ID</label>
        <input name="document_id" id="document_id" type="text">
      </div>
      <button type="submit">Delete</button>
    </form>
  <!-- read -->
      <h1>read documets from firestore</h1>
      <form class="form-horizontal" id="simpleForm" method="post" action="/app/clothing/read">
        <div class="form-group">
          <label for="document_id">Document ID</label>
          <input name="document_id" id="document_id" type="text">
        </div>
        <button type="submit">Read</button>
      </form>
    <br>
      <form method="get" action="/app/clothing/read_list">
        <button type="submit">Read List</button>
      </form>
    </div>

    <nav>
      <ul>
		<li>
		  <label class="open" for="pop-up">Add</label>
		  <input type="checkbox" id="pop-up">
		  <div class="overlay">
			<div class="window">
			  <label class="close" for="pop-up">x</label>
		<div>
		  <form class="form-horizontal" method="post" action="/app/clothing/write">
		  <!-- input clothing name as document id -->
			<div class="form-group">
			  <label for="document_id">New Clothing Name</label>
			  <input name="document_id" id="w_document_id" type="text">
			</div>
		  <!-- brand -->
			<div class="form-group">
			  <label for="brand">brand</label>
			  <input name="brand" id="brand" type="text" class="form-control">
			</div>
		  <!-- year -->
			<div class="form-group">
			  <label for="year">year</label>
			  <input name="year" id="year" type="text" class="form-control">
			</div>
		  <!--  month-->
			<div class="form-group">
			  <label for="month">month</label>
			  <!-- <input name="month" id="month" type="number"> -->
			  <select id="month" name="month" class="form-control">
				<option value=""></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			  </select>
			</div>
		  <!--season  -->
			<div class="form-group">
			  <label for="season">season</label>
			  <select id="season" name="season" class="form-control">
				<option value=""></option>
				<option value="Spring">Spring</option>
				<option value="Summer">Summer</option>
				<option value="Autumn">Autumn</option>
				<option value="Winter">Winter</option>
			  </select>
			</div>
		  <!-- shop name -->
			<div class="form-group">
			  <label for="shop">shopName/place</label>
			  <input name="shop" id="shop" type="text" class="form-control">
			</div>
		  <!-- category -->
			<div class="form-group">
			  <label for="category">Category</label>
			  <select id="category" name="category" class="form-control">
				<option value=""></option>
				<option value="tops">tops</option>
				<option value="bottoms">bottoms</option>
				<option value="outer">Outer</option>
				<option value="socks">Socks</option>
				<option value="bag">Bag</option> 
				<option value="accessories">Accessories</option> 
			  </select>
			</div>
			<button type="submit" id="write_button">Ok!</button>
		  </form>
		  <!--      <button type="submit">Write</button> -->
		</div> 
		</li>
        <li><a href="http://localhost:8080/app/book">book</li>
        <li><a href="#">Setting</li>
        <li><a href="http://localhost:8080/app/top">Top Page</li>
      </ul>
    </nav>
  </div>
  </main>

  <footer>
    <p>All rights reserved.</p>
  </footer>
</body>
</html>
