<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="utf-8">
  <title>
    User
  </title>
  <link rel="stylesheet" href="/app/css/user_home.css">
</head>

<body>
  <div class="container">
    <h1>Welcome {{ name }}!</h1>
    <p>Your Session ID is  " {{ UserId }} "</p>
    <!-- <p><a href="book.html">Book</a></p> -->
    <h3><a href="https://localhost:8080/app/book" id="book_link">Book</a></h3>
    <h3><a href="https://localhost:8080/app/clothing" id="clothing_link">Clothing</a></h3>
  </div>
</body>

</html>
